name: Dev to Main PR Workflow - Création de Pull Request Conditionnelle

on:
  push:
    branches:
      - 'dev'

jobs:
  dev_to_main_pr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.19

      - name: Installer les dépendances
        run: npm install

      - name: Run ESLint Check
        id: eslint-check
        run: npx eslint src/**/*.ts
        continue-on-error: true

      - name: Déterminer la Version Actuelle et la Version Précédente (sur dev)
        id: determine_version_change
        run: |
          CURRENT_VERSION=$(jq -r '.version' package.json)
          PREVIOUS_VERSION=$(git show HEAD^:package.json | jq -r '.version' 2>/dev/null || echo "$CURRENT_VERSION") # Version précédente, si erreur (1er commit), version actuelle

          echo "Version Actuelle (dev): ${CURRENT_VERSION}"
          echo "Version Précédente (dev): ${PREVIOUS_VERSION}"

          if [ "$CURRENT_VERSION" != "$PREVIOUS_VERSION" ]; then
            echo "✔️ Version a changé sur dev. Préparation de la Pull Request vers main."
            VERSION_CHANGED=true
          else
            echo "❌ Version n'a pas changé sur dev. Workflow stoppé."
            VERSION_CHANGED=false
          fi

          echo "VERSION_CHANGED=${VERSION_CHANGED}" >> $GITHUB_OUTPUT
          echo "CURRENT_VERSION=${CURRENT_VERSION}" >> $GITHUB_OUTPUT

      - name: Créer une Pull Request vers Main (si version a changé sur dev)
        if: steps.determine_version_change.outputs.VERSION_CHANGED == 'true'
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const currentVersion = "${{ steps.determine_version_change.outputs.CURRENT_VERSION }}";
            const branchName = context.payload.ref.replace('refs/heads/', '');
            const prTitle = `Merge Dev vers Main: v${currentVersion}`;
            const prBody = `Préparation du merge de la branche dev vers main pour la version v${currentVersion}.\n\nFonctionnalités et changements inclus dans cette Pull Request.\n\nVeuillez vérifier, lancer les tests supplémentaires si nécessaire, et merger dans main pour préparer la release.`;

            try {
              await github.rest.pulls.create({
                owner: context.repo.owner,
                repo: context.repo.repo,
                title: prTitle,
                head: branchName,
                base: 'main',
                body: prBody,
              });
              console.log('Pull Request de dev vers main créée avec succès.');
            } catch (error) {
              console.error('Erreur lors de la création de la Pull Request de dev vers main:', error);
            }